
.container{
  .carousel {
  /*overflow: hidden;*/  
  height: 500px;
  perspective: 400px;
  background: black;
  /*transform-style: preserve-3d;*/
  transform-origin: 0% 50%;
  margin-top: -50px;    
    .carousel-slider {
      top: 0;
      left: 0;
      height: 0;
      .carousel-fixed-item {
        left: 0;
        right: 0;
        bottom: 20px;
        z-index: 1;
        .with-indicators {
          bottom: 68px;
        }
      }
      .carousel-item {        
        height: 100%;
        min-height: 500px;      
        top: 0px;
        left: 0;
        h2 {
          font-size: 24px;
          font-weight: 400;
          line-height: 32px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
.carousel-item {
  display: none;
  width: 45rem;
  position: absolute;
  margin-top: 30px;
  img {
    width: 100%;
  }  
}

