.contenedorCronoUno{
    background: black;
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 10px;
    h2{
        color: gold;
    }
    p{
        color: gold;
    }
}

.contenedorCronoDos{
    background: black;
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 10px;
}