@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import "carrousel";

.contenedorJuegos{   
    display: flex;
    flex-direction: row; 
    background: radial-gradient(#09545c, black);
    width: 100vw;
    justify-content: center;
    padding: 25px 1px;
    .caratulasJuegos{
        display: flex;
        flex-direction: column; 
        margin: 20px 80px;
        text-align: center;
        img{
            justify-content: center;
            margin: 20px 10px;
            width: 300px;
            height: 440px;
        }
        h2{
            font-family: 'Libre Baskerville', serif;
            text-align: center;
            margin: 10px;
            color: gold;
            width: 300px;
        }
        article{
            text-align: center;
            margin: 10px;
            width: 300px;
            height: 100%;
            color: gold;
        }
    }  
}

@media only screen and (max-width:850px){
    .contenedorJuegos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 6%
    };
}
